@scope (.journal-page) {
	:scope {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-4);
		padding: var(--spacing-4);
	}

	article {
		padding: var(--spacing-4);
		border-radius: var(--rounded);
		display: flex;
		background-color: var(--surface-bg);
		border: 1px solid var(--surface-border);
	}
}
