@import "tailwindcss";

@theme {
	--font-sans:
		"Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif;
	--font-serif: "Lora", Georgia, "Times New Roman", Times, serif;
}

body,
html,
#app {
	@apply text-white/90 bg-black;

	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	/* ^^ app controls its own scrolling */
}

* {
	@apply border-white/10 divide-white/50 select-none;

	/* Hide scrollbar for Chrome, Safari and Opera */
	::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

:root {
	--safe-top: env(safe-area-inset-top);
	--safe-bottom: max(env(safe-area-inset-bottom), 0.5rem);
	--safe-left: max(env(safe-area-inset-left), 0.5rem);
	--safe-right: max(env(safe-area-inset-right), 0.5rem);
}

/* Keyframe animations */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: scale(0.9);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: scale(1);
	}

	to {
		opacity: 0;
		transform: scale(0.9);
	}
}

@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(5rem) scale(0.95);
	}

	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

@keyframes slideOut {
	from {
		opacity: 1;
		transform: translateY(0) scale(1);
	}

	to {
		opacity: 0;
		transform: translateY(5rem) scale(0.95);
	}
}

@keyframes slideUpFromBottom {
	from {
		transform: translateY(100%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes slideDownToBottom {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(100%);
	}
}
