@scope (.navbar) {
	:scope {
		display: flex;
		position: fixed;
		justify-content: space-between;
		bottom: max(var(--safe-bottom), var(--spacing-4));
		left: max(var(--safe-left), var(--spacing-4));
		right: max(var(--safe-right), var(--spacing-4));
	}

	nav {
		display: flex;
		border-radius: var(--rounded-full);
		padding: 2px;
		gap: var(--spacing-1);
		background-color: var(--surface-bg);
		backdrop-filter: var(--blur);
		border: 1px solid var(--surface-border);

		a {
			display: flex;
		}
	}

	.action-button {
		align-items: center;
		background-color: var(--btn-bg);
		height: var(--spacing-12);
		width: var(--spacing-12);

		display: flex;
		justify-content: center;
		color: var(--btn-fg);
		backdrop-filter: var(--blur);
		border-radius: var(--rounded-full);
		transition: transform 0.1s ease-in-out;

		&:active {
			transform: scale(1.1);
		}

		svg {
			height: 16px;
			width: 16px;
		}
	}

	.nav-item {
		display: flex;
		align-items: center;
		gap: var(--spacing-2);
		padding-block: var(--spacing-2);
		padding-inline: var(--spacing-3);
		border-radius: var(--rounded-full);
		transition: transform 0.1s ease-in-out;

		&:active {
			transform: scale(1.1);
		}

		&[data-active="true"] {
			border: 1px solid var(--surface-border);
			background-color: rgba(255, 255, 255, 0.1);
		}

		svg {
			height: 16px;
			width: 16px;
		}
	}
}
